
html {
    font-size: 35px;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: url(galaxy.webp) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 0;
}

.score {
    display: inline-block;
    background: url('coins.png') no-repeat center left #5a86bc; /* Replace with the correct path to your coin image */
    background-size: 40px auto; /* Adjust the size of the coin icon */
    padding: 0 24px 0 60px; /* Adjust padding to accommodate the coin icon */
    line-height: 1;
    border-radius: 16px;
    color: #fff;
    margin-left: 15px;
}

.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after {
    display: block;
    background: url(dirt.png) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('AlienX.png') bottom center no-repeat;
    background-size: 90%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 120%;
    transition: all 0.4s;
    user-select: none; /* for disabling the text selection (" | ")*/
}

.hole.up .mole {
    top: 0;
}

button {
    width: 175px;
    font-size: 35px;
    height: 70px;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;
}

@media (min-width: 667px) and (max-width: 1024px) {
    h1 {
        display: none;
    }
    .score {
        background: blue;
        padding: 0 12px;
        line-height: 1;
        border-radius: 16px;
        color: #fff;
        font-size: 40px;
        margin-left: 20px;
    }
    .hole.up .mole {
        top: 17px;
    }
}

@media (max-width: 667px) {
    .game {
        width: 667px;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .score {
        width: 35px;
        font-size: 15px;
        height: 40px;
        color: #fff;
        background-color: blue;
        border-radius: 10px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px;
    }
    button {
        margin: 10px 10px 10px 10px;
        height: 40px;
        width: 75px;
        font-size: 15px;
    }
    .hole:after {
        display: block;
        background: url(dirt.png) bottom center no-repeat;
        background-size: contain;
        content: '';
        max-width: 70%;
        height: 60px;
        position: absolute;
        z-index: 2;
        bottom: -30px;
    }
    .mole {
        background: url('mole.png') bottom center no-repeat;
        background-size: 60%;
        position: absolute;
        top: 100%;
        max-width: 70%;
        height: 70%;
        transition: all 0.4s;
    }
    .hole.up .mole {
        top: 50px;
    }
}
